<nav class='navbar navbar-default'>
    <div class="container-fluid">
        <ul class='nav navbar-nav'>
            <li routerLinkActive='active'><a routerLink='auth'>Connection</a></li>
            <!-- grace au routerLink , on peut naviguer vers le lien souhaité sans charger toute la page 
            seulement le router outlet est rechargé
        routerlinkActive est une class bootsrap-->
            <li routerLinkActive='active'><a routerLink='article'>Articles</a></li>

        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- avec router outlet nous allon pouvoir naviguer de facon dynamique grace au path crées -->